@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Geologica&family=Montserrat:wght@500&family=Narnoor&family=Rubik&display=swap');
body{
    text-align: center;
    font-family: 'Geologica', sans-serif;
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
}
#timer{
    margin: 10px;
    border: 0px solid green;
    font-size: 60px;
}
#cardcon{
    margin: 50px 10px 10px 10px;
    border: 0px solid goldenrod;
    height: 200px;
}
#card{
    padding: 30px;
    font-size: 40px;
    width: 300px;
    background-color: rgba(137, 43, 226, 0.45);
    margin: 0 auto;
    text-align: center;
}
#yourans{
    font-size: 40px;
    width: 90px;
}